a{
    text-decoration: none !important;
    color: inherit !important;
}
.list-item{
    padding: 10px;
}
.list-item:hover{
    background-color: #1e7e34;
    color: white;
}
.active{
    background-color: #1e7e34;
    color: white;
}

.navbar-logo{
    padding: 10px;
}

/* error */
.ground{
    position: relative !important;
    tab-index: 300 !important;
    background-color: rgb(0,0,0) !important;
}
.error_message{
    width: 80%;
    position: absolute !important;
    tab-index: 350!important;
    left: auto !important;
    right: auto !important;
    top: 10px !important;
    background-color: #c62828;
    box-shadow:  0 2px 9px 2px #000 !important;
    color: white;
    padding: 15px;

}

.exit{
    cursor: pointer;
}
